@media (max-width: 800px){
    .footer{
        flex-direction: column;
        height: 550px;
        padding: 10%;
        width: 100%;
    }}
footer{
    background-color: #712FBA;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
a{
    color: white;
    font-size: 120%;
    font-weight: 700;
    text-decoration: none;
}
ul li {
    list-style: none;
}
.socialmedia>img{
    height: 120px;
    padding: 0 0 0 25px;
}
.contacto, .socialmedia{
    display: grid;
    grid-template-rows: auto;
}
.logoyugi>img{
    height: 100px;
}